:root {
    --main-color: #0984e3;
}

body {
    font-family: 'Open Sans', sans-serif;
    padding: 0;
    margin: 0;
}

.header{
    color: white;
    display: flex;
    width: 100%;
    height: 50px;
    background: var(--main-color);
    flex-direction: row;
    vertical-align: middle;
    align-items: center;
    justify-content: space-between;
    box-shadow: rgba(0, 0, 0, 0.2) 10px 0px 10px 10px;
    position: fixed;
    top: 0;
}

.logo{
    padding: 10px;
}

.search-bar {
    height: 60%;
    border: none;
    border-radius: 100px;
    padding-left: 20px;
    margin-right: auto;
}

.search-bar:focus{
    outline-width: 0;
}

.profile{
    font-size: 20px;
    margin-right: 20px;
}

.post-container{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 75px;
    flex-direction: column;
}

.post{
    width: 500px;
}

.post-header{
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    vertical-align: middle;
    justify-content: space-between;
    margin-bottom: 20px;
}

.post-header .details {
    display: flex;
    flex-direction: row;
    align-items: center;
    vertical-align: middle;
}

    .post-header .profile-pic {
        width: 40px;
        height: 40px;
        border-radius: 100%;
        background: #b2bec3;
        margin-right: 10px;
        background-position: center;
        background-size: cover;
    }

.post-header .creator{
    margin-right: 10px;
    cursor: pointer;
}

.post-header .divider{
    color: grey;
    margin-right: 10px;
}

.post-header .last-posted{
    color: grey;
    margin-right: auto;
}

.post-header .dots{
    font-size: 20px;
    cursor: pointer;
}

img {
    object-fit: cover;
    width: 500px;
    height: 500px;
}

.post .interactions {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    font-size: 20px;
    color: #b2bec3;
    margin-bottom: 15px;
}

    .post .interactions i {
        padding: 5px;
        cursor: pointer;
        transition: all 100ms ease-in-out;
    }

    .post .interactions i:hover {
        color: #636e72;
    }

.post .caption{
    display: flex;
    flex-direction: row;
    margin-bottom: 20px;
}

.post .caption .creator{
    margin-right: 10px;
    cursor: pointer;
}

.post .post-divider{
    display: flex;
    width: 100%;
    height: 1px;
    background: grey;
    margin-bottom: 20px;
}